@charset "utf-8";
/* リセットCSS */
* {
  margin: 0;
  box-sizing: border-box;
  font-family : YuMincho, 'Yu Mincho', serif;
  appearance: none;
  -webkit-appearance: none;
  -webkit-size-adjust:100%;
}
/*コンテナで全体を囲んで配置を調整*/
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*隠したい要素*/
.hidden, #head.hidden, #answerBoard.hidden, #question.hidden {
  display: none;
}  
/***********************トップ画面*******************************/
/*タイトル*/
#head {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: table-cell;
  writing-mode: vertical-lr;
  vertical-align: middle;
  font-size: 80px;
  font-weight: normal;
}
/*終了ボタン*/
#totitle {
  position: fixed;
    top: 5%;
    right: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
#totitle::after {
  content: "×";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}
/**************************質問・回答画面******************************/
/*flexを入れ子にしてさらに調整*/
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;     
}    

/*質問*/
#question {
  text-align: left;
  writing-mode: vertical-lr;
  vertical-align: middle;
  font-size: 35px;
  height: 80%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
}

/*回答*/
#answerBoard {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
}

a {
  display: block;
}

.answerA,
.answerB {
  margin: 0 auto;
  border: 1px solid lightgray;
  cursor: pointer;
  width: 50%;
  font-size: 35px;
  height: 30%;
  padding: 0;
}    

/******************漢字の結果画面******************************/
/*漢字*/
  #resultField {
    display: flex;
    margin-top: 100px;
  }

/*漢字の下*/
  .ending {
    text-align: center;
    margin: 10px;    
  }
  .kanji {
    font-size: 35px;
    margin-top: 300px;
  }
  .date {
    font-size: 20px;
  }
  .savetext {
    cursor: pointer;
    font-size: 30px;
    border: 1px solid black;
    padding: 0 10px;
  }  
  .result01 > img, .result02 > img{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  /*************600px以下のレスポンシブ************************************/
@media screen and (max-width:600px) {
  .answerA,
  .answerB {
    margin: 0 auto;
    border: 1px solid lightgray;
    cursor: pointer;
    width: 40%;
    font-size: 20px;
    height: 30%;
    padding: 0;
    font-weight: bold;
  }
}