@charset "utf-8";
    /* リセットCSS */
    * {
      margin: 0;
      box-sizing: border-box;
      list-style: none;
    }

    main {
      width: 200px;
      margin: 0 auto
    }

    h1 {
      text-align: center;
    }

    #question {
      text-align: center;
      background-color: pink;
    }

    #answerBoard {
      display: flex;
      height: 100px;
      background-color: skyblue;
    }

    a {
      display: block;
    }

    .answer01,
    .answer02 {
      margin: 0 auto;
    }

    #result {
      display: flex;
      background-color: orange;
    }