@charset "utf-8";
    /* リセットCSS */
    * {
      margin: 0;
      box-sizing: border-box;
      list-style: none;
    }
    
    /*隠したい要素*/
    .hidden {
      display: none;
    }

    main {
      width: 200px;
      margin: 0 auto;      
    }

    h1 {
      text-align: center;
      display: table-cell;
      writing-mode: vertical-lr;
      vertical-align: middle;
      width: 1200px;
      height: 700px;
      font-size: 100px;
      font-weight: normal;
    }

    #question {
      text-align: center;
      background-color: pink;
    }

    #answerBoard {
      display: flex;
      height: 100px;
      background-color: red;
    }

    a {
      display: block;
    }

    .answerA,
    .answerB {
      margin: 0 auto;
      border: 1px solid blue;
      cursor: pointer;
    }

    #resultField {
      display: flex;
      background-color: orange;
    }